<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>auth</filter-name>
        <filter-class>it.unitn.disi.jadidi.delivery2.auth</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>auth</filter-name>
        <servlet-name>LoginServLet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServLet</servlet-name>
        <servlet-class>it.unitn.disi.jadidi.delivery2.LoginServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainServLet</servlet-name>
        <servlet-class>it.unitn.disi.jadidi.delivery2.mainServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>endSession</servlet-name>
        <servlet-class>it.unitn.disi.jadidi.delivery2.endSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePass</servlet-name>
        <servlet-class>it.unitn.disi.jadidi.delivery2.changePass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServLet</servlet-name>
        <url-pattern>/LoginServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainServLet</servlet-name>
        <url-pattern>/mainServLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>endSession</servlet-name>
        <url-pattern>/endSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePass</servlet-name>
        <url-pattern>/changePass</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <servlet-name>mainServLet</servlet-name>
    <url-pattern>/mainServLet</url-pattern>
</web-app>
